@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
}


.start_button{
    display: flex;
    width: 100%;
    align-items: center;
    vertical-align: center;
    height: 25%;
    justify-content: center;
    font:40px 'MaplestoryOTFBold';
}

.container {
    flex: 1;
    position: relative;
    /* background-image: url('배경.jpg'); */
    /* background-size: contain; */
}

.container:after {
    content: '';
    background-image: url('배경2.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.3;
    z-index: 1;
}

.container > *{
    z-index: 100;
}

.box, .pick, .row, .qst, .ans, .qst-img, .qst-box {
    /* border: 0.5px solid lightgrey;
    border-radius: 5px; */
}

.row, .select, .qst{
    justify-content: space-evenly;
}

.select, .ch, .result-box{
    white-space: pre-line;
    word-break: keep-all;
}

.select, .notselect{
    display: flex;
    width: 100%;
    align-items: center;
    height: 25%;
}

.notselect {
    display: none;
}

.row {
    height: 100%;
}

.qst-num {
    font-size: 3vh;
    margin-bottom: 1.5vh;
}

.question > p {
    margin-bottom: 0.5rem;
}

.ch, .result {
    width: 25%;
    height: 50%;
}

.rform {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-danger {
    background-color: #dc35;
    color : #dc3545;
    border-color : #dc3545;
}

.btn-outline-info {
    background: #17a2;
    color : #17a2b8;
    border-color : #17a2b8;
}
